@import "variables";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  box-sizing: border-box;
  color: #150c21;
  list-style: none;
  text-decoration: none;
  text-size-adjust: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}
form{
    line-height: 25px;
    .stem, .Cohort, .QHSE, .full{
        margin-right: 16px;
    }
    #mail, #Amount{
        width: 45%;
        padding: 3vh 0.5vw;
        border: 1px solid black;
        border-radius: 8px;
    }
}
button{
    padding: $bottonPadding;
    background-color: $bottonBg;
    color: white;
    border-radius: 7px;
}